---
layout: default
---
<head>
<style>
body {
  background-color: black;
  color: white;
  }
header {
  background-color: white;
  }
  
</style>
</head>

<head>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.list_title | escape }}</h1>
  </header>

  <div style="margin-left:-300px; width:260px; position:fixed;">
    {% include toc.html html=content h_min=1 h_max=3 %}
  </div>
  <div class="post-content">
    {{ content }}
  </div>

</article>
